{% for vrrp, vrrp_val in devices[inventory_hostname].vrrp.items() %}
{% for unit, unit_val in vrrp_val.unit.items() %}
set interfaces {{ vrrp }} unit {{ unit }} family inet address {{ unit_val.address }} vrrp-group {{ unit_val.group }} virtual-address {{ unit_val.vip }}
set interfaces {{ vrrp }} unit {{ unit }} family inet address {{ unit_val.address }} vrrp-group {{ unit_val.group }} priority {{ unit_val.priority }}
{% if unit_val.hold_time is defined %}
set interfaces {{ vrrp }} unit {{ unit }} family inet address {{ unit_val.address }} vrrp-group {{ unit_val.group }} preempt hold-time {{ unit_val.hold_time }}
{% else %}
set interfaces {{ vrrp }} unit {{ unit }} family inet address {{ unit_val.address }} vrrp-group {{ unit_val.group }} preempt
{% endif %}
set interfaces {{ vrrp }} unit {{ unit }} family inet address {{ unit_val.address }} vrrp-group {{ unit_val.group }} accept-data
{% endfor %}
{% endfor %}